<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            MultiTaskApp
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar color="success">
            <ion-title size="large">MultiTaskApp</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container" class="container">
        <ion-row>
            <ion-col>
                <ion-card color="secondary" button="true" href="/name-matching-game" class="cardSetting">
                    <ion-card-header>
                        <ion-card-title>Name Matching Game</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card color="secondary" button="true" href="/expense-tracker" class="cardSetting">
                    <ion-card-header>
                        <ion-card-title>Expense Tracker</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card color="secondary" button="true" href="/contacts-app" class="cardSetting">
                    <ion-card-header>
                        <ion-card-title>Contacts App </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card color="secondary" button="true" href="/student-app" class="cardSetting">
                    <ion-card-header>
                        <ion-card-title>Student App</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <!-- <strong>Ready to create an app?</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    </div>
</ion-content>